{% extends 'base.html' %}

{% block title %}
{{ project.title }} | {{ profile.name }} | Software Developer
{% endblock %}

{% block description %}
    {{ project.description }} - A project by Jesse Vahlfors.
{% endblock %}

{% block content %}
<section class="text-black py-16">
    <div class="flex flex-col items-center w-full">
        <!-- Title and Description Section -->
        <section class="relative w-full md:max-h-120 bg-main_bg bg-cover flex flex-col gap-8 md:gap-4 lg:gap-12 items-center justify-center py-60 md:py-16 lg:py-60">
            <h1 class="text-4xl lg:text-6xl text-center font-bold px-6 uppercase">{{ project.title }}</h1>
            <p class="text-lg md:text-xl text-center px-8 max-w-60">This page contains the case study of my {{project.title}}, which includes the Project Overview, Technologies Used, and plans for future updates to enhance functionality and features.</p>
            <div class="flex flex gap-8">
                {% if project.link %}
                    <a href="{{ project.link }}" target="_blank" class="bg-navy-blue text-white text-lg font-bold px-10 py-4 rounded-lg shadow-md shadow-zinc-400 hover:-translate-y-0.5 duration-300">LIVE LINK</a>
                {% endif %}    
                <a href="{{ project.project_github }}" target="_blank" class="bg-navy-blue text-white text-lg font-bold px-10 py-4 rounded-lg shadow-md shadow-zinc-400 hover:-translate-y-0.5 duration-300">GITHUB</a>
                </div>
        </section>

        <!-- Project Details Section -->
        <section class="md:w-11/12 max-w-5xl bg-white md:px-8 px-4 py-20 flex flex-col gap-32 items-center">
            <!-- Project Image -->
            <div class="flex justify-center w-full shadow-[0px_0px_20px_4px] shadow-amber-600/20">
                {% if project.image %}
                    <img src="{{ project.image.url }}" alt="{{ project.title }}" class="rounded-md max-h-40 object-cover ">
                {% else %}
                    <div class="w-full h-80 bg-amber-100 rounded-md flex items-center justify-center">
                        <p class="text-navy-blue">No Image Available</p>
                    </div>
                {% endif %}
            </div>
            <div class="md:w-10/12">
                <!-- Project Overview -->
                <div class="flex flex-col gap-16">
                    <!-- Overview -->
                    <div>
                        <h2 class="text-2xl font-bold mb-4">Project Overview</h2>
                        <div class="flex flex-col gap-10 text-lg text-sky-800">
                            {{ project.description|safe }}
                        </div>
                    </div>

                    <!-- Technology Used -->
                    <div>
                        <h2 class="text-2xl font-bold mb-4">Technologies Used</h2>
                        <ul class="flex flex-wrap gap-4">
                            {% for skill in skills %}
                                <li class="bg-amber-100 text-navy-blue font-semibold px-4 py-2 rounded-lg">{{ skill }}</li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- See Live -->
                    <div>
                        <h2 class="text-2xl font-bold mb-4">See Live</h2>
                        <div class="flex md:gap-8 gap-4">
                            {% if project.link %}
                                <a href="{{ project.link }}" target="_blank" class="bg-navy-blue text-white text-lg font-bold md:px-10 py-4 rounded-lg shadow-md shadow-zinc-400 hover:-translate-y-0.5 duration-300">LIVE LINK</a>
                            {% endif %}
                            {% if project.project_github %}
                                <a href="{{ project.project_github }}" target="_blank" class="bg-navy-blue text-white text-lg font-bold md:px-10 px-4 py-4 rounded-lg shadow-md shadow-zinc-400 hover:-translate-y-0.5 duration-300">GITHUB</a>
                            {% endif %}    
                                <a href="{% url 'home/main_page' %}#projects" class="bg-gray-300 text-navy-blue text-lg font-bold md:px-10 px-4 py-4 rounded-lg shadow-md shadow-zinc-400 hover:-translate-y-0.5 duration-300">Go Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
{% endblock %}
