# Django
DEBUG=True
SECRET_KEY=your_secret_key

# Database
DATABASE_NAME=your_database_name
DATABASE_USER=your_database_user
DATABASE_PASSWORD=your_database_password
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
TEST_DATABASE_NAME=test_portfolio_database

# reCAPTCHA
RECAPTCHA_SECRET_KEY=your_recaptcha_secret_key
RECAPTCHA_SITE_KEY=your_recaptcha_site_key

# Email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=your_email_host_user
EMAIL_HOST_PASSWORD=your_email_host_password
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=no-reply@example.com
CONTACT_TO_EMAIL=your_contact_to_email

# Backblaze B2 Cloud Storage
B2_APPLICATION_KEY_ID=your_application_key_id
B2_APPLICATION_KEY=your_application_key
B2_BUCKET_NAME=your_bucket_name
B2_REGION_NAME=your_region_name