{% extends 'base.html' %}
{% load static %}

{% block title %}JV Compression Tool{% endblock %}
{% block content %}
    <h1>JV Compression Tool</h1>

    <p>Try compressing text using my Huffman compression library.</p>

    <form
        hx-post="{% url 'compress_action' %}"
        hx-target="#compression-result"
        hx-swap="innerHTML"
    >
        <textarea name="input_text"></textarea>

        <button>Compress</button>
    </form>

    <div id="compression-result"></div>

    <script>
        const csrfToken = '{{ csrf_token }}';
    </script>
{% endblock %}